body {
  background: ivory;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  height: 100%;
}

.wrapper {
  width: 800px;
  margin: 30px auto;
  color: #000;
  text-align: center;
}

.workplace, .results {
	width: 90%;
	padding: 5% 5%;
	color: #000;
}

.active-question {
	height: 100%;
	width: 50%;
	display: inline-block;
}

.attempts {
	text-align: center;
	float: right;
	display: inline-block;
}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 2.6em;
  text-transform: uppercase;
}

#seconds, #minutes {
  font-size: 2em;
}

button {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -khtml-border-radius: 5px;
  background: ivory;
  color: #000;
  border: solid 1px #000;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.2em;
  padding: 18px 10px;
  width: 180px;
  margin: 10px;
  outline: none;
}

button:hover {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background: #000;
  border: solid 1px #000;
  color: ivory;
}

.option {
	width: 80px;
}

.answer {
	width: 100%;
	color: #000;
	font-size: 1.9em;
}

.question-number, .attempted-option, .time-taken {
	margin-left: 5px;
	margin-right: 5px;
}

#attemptList {
	list-style-type: none;
}
